.banner {
  width: 100%;
  height: 100vh;
  background: url(../assets/front_drink.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: animate calc(8s * var(--i)) linear infinite;
          animation: animate calc(8s * var(--i)) linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

/* section {
    position: relative;
    padding: 75px 100px
}
section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
} */
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  color: #7171df;
  font-size: 3rem;
}

.slider {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
  width: 22rem;
  -webkit-box-shadow: 0 20px 20px;
          box-shadow: 0 20px 20px;
  display: inline-block;
  margin: 20px;
  margin-top: 32px;
  border-radius: 30px;
  padding: 1rem 1rem;
}

.info h1 {
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0.3rem;
  font-weight: lighter;
}

.rec-list {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  list-style: none;
}

.rec-links {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.base {
  height: 90vh;
  position: absolute;
  width: 100%;
}

.base-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base-content h1 {
  font-size: 50px;
  margin: 30px 0px;
}

.base-content p {
  font-size: 20px;
}

.base {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Goldman', cursive;
}

body {
  background: white;
  color: #444242;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  float: right;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  list-style: none;
}

.nav-links li {
  color: black;
  z-index: 2;
  padding: 1.5rem;
  font-size: 2.5rem;
  color: #444242;
}

.nav-links li:hover {
  color: black;
}

.big-text {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  font-size: 7rem;
  color: #444242;
}
/*# sourceMappingURL=main.css.map */